<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{/layout/basic2 :: setContent(~{this::content} )}">

	<th:block th:fragment="content">
		
		<h1>주문 상세</h1>
		<div>
			<span><s>주문 일자 </s></span>
			<span th:value="${#temporals.format(ordersDTO.regDate, 'yyyy/MM/dd HH:mm:ss')}"></span>
		</div>
		<div>
			<span><s>주문 금액 </s></span>
			<span>[[${ordersDTO.totalPrice}]]</span>
		</div>

		<table class="table table-striped">
			<tbody>
				<tr th:each=" dto : ${oIDTOList}">


					<td scope="row">
						<a th:href="@{/item/read(itemNo = ${dto.iNo})}">
							[[${dto.iNo}]]
						</a>
					</td>
					<td>[[${dto.count}]]</td>
					<td>[[${dto.price}]]</td>
				</tr>
			</tbody>
		</table>

		
		

	</th:block>
</th:block>