<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{layout/basic2 :: setContent(~{this::content} )}">

	<th:block th:fragment="content">



		<h1>주문 상품 목록</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">상품명</th>
					<th scope="col">수량</th>
					<th scope="col">상품금액</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cartDTO : ${cartList}">


					<th scope="row">
						<a th:href="@{/item/read(itemNo = ${cartDTO.itemNo})}">
							[[${cartDTO.itemName}]]
						</a>
					</th>
					<td>[[${cartDTO.count}]]</td>
					<td>[[${cartDTO.price}]]</td>
				</tr>
			</tbody>
		</table>

		<div>

			<p>총 주문금액</p>
			<p id="totalPrice"></p>



		</div>



		<br><br>
		<h1 class="mt-4">주문자 정보</h1>

		<form th:action="@{/orders/register}" th:method="post">
			<div class="form-group">
				<label>주문자 아이디</label>
				<input type="text" class="form-control" name="id" th:value="${memberDTO.id}" readonly>
			</div>

			<div class="form-group">
				<label>수령인</label>
				<input type="text" class="form-control" name="receiverName" th:value="${memberDTO.name}">
			</div>

			<div class="form-group">
				<label>연락처</label>
				<input type="text" class="form-control" name="receiverPhone" th:value="${memberDTO.pNumber}">
			</div>
			<div class="form-group">
				<label>배송지</label>
				<textarea class="form-control" rows="3" name="shipAddress">[[${memberDTO.address}]]</textarea>
			</div>
			<h2 class="mt-4">총 결제금액</h2>

			<div class="form-group">
				<label>결제금액</label>
				<input type="text" id="paymentAmount" class="form-control" name="totalPrice" readonly>
			</div>


			
			<button type="submit" onclick="requestPay()" class="btn btn-primary registerBtn">결제하기</button>
			

		</form>


		<script th:inline="javascript">
			$(document).ready(function () {
				priceSum();
			})

			function priceSum() {

				var cartList = [[${cartList}]];
				var total = 0;
				cartList.forEach(function (cart) {
					total += cart.price*cart.count;

				});
				var totalElement = document.getElementById("totalPrice");
				totalElement.textContent = "총 주문금액: " + total + " 원";

				var payElement = document.getElementById("paymentAmount");
				payElement.value = total;
			}




<!--			function requestPay(){-->
<!--				const userCode = "imp52184744";-->
<!--				var IMP = window.IMP;-->
<!--				IMP.init(userCode);-->
<!--				var totalPrice = document.getElementById("paymentAmount");-->


<!--				IMP.request_pay({-->
<!--					pg: "html5_inicis",-->
<!--					pay_method: "card",-->
<!--					merchant_uid: 1234,-->
<!--					name: '결제테스트',-->
<!--					amount: 2000,-->
<!--					buyer_email: 'yoyt12@naver.com',-->
<!--					buyer_name: 'aa',-->
<!--					buyer_tel: '010-5555-6666',-->
<!--					buyer_addr: 'aaa',-->

<!--				}, function (rsp) {-->
<!--					console.log(rsp);-->
<!--					if (rsp.success){-->
<!--						var msg = '결제가 완료되었습니다.';-->
<!--						alert(msg);-->
<!--						location.href = "@{orders/ordersList}"-->
<!--					} else {-->
<!--						var msg = '결제에 실패하였습니다.';-->
<!--						msg += rsp.error_msg;-->
<!--						alert(msg);-->
<!--					}-->
<!--				});-->
<!--			}-->

			$(".registerBtn").click(function () {
        var IMP = window.IMP;
        IMP.init('imp52184744');
        IMP.request_pay({
            pg: 'html5_inicis.INIPayTest',

            pay_method: 'card',

            merchant_uid: 'merchant_' + new Date().getTime(),


            name: '주문명:결제테스트',

            amount: 1000,

            buyer_email: 'iamport@siot.do',
            buyer_name: '구매자이름',
            buyer_tel: '010-1234-5678',
            buyer_addr: '서울특별시 강남구 삼성동',
            buyer_postcode: '123-456',

        }, function (rsp) {
            console.log(rsp);
            if (rsp.success) {
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            }
            alert(msg);
        });
    });

		</script>

		<a th:href="@{cart/cartList}">
			<button type="button" class="btn btn-info listBtn">취소</button>
		</a>









	</th:block>
</th:block>