<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{/layout/basic2 :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Item Read Page</h1>       

        <div class="form-group">
            <label >상품이름</label>
            <input type="text" class="form-control" th:value="${dto.itemName}" readonly >
        </div><br>
        <div class="form-group">
            <label >가격</label>
            <input type="text" class="form-control" th:value="${dto.price}" readonly >
        </div><br>
        
        
        <div class="form-group">
            <label >상품 이미지</label>
        </div><br>
        <th:block th:if="${dto.image != null}">
    		<div class="form-group">
        		<img th:src="@{'/image/' + ${dto.image}}">
    		</div>
		</th:block><br>
        
        
     
        
        
        
        
       <!--<div class="form-group">
            <label >상품 이미지(수정하는것 잊지말기)</label>
            <textarea class="form-control" rows="5" readonly>[[${dto.image}]]</textarea>
        </div><br>-->
        
       
        
        
        
        <div class="form-group">
            <label >상품 상세설명</label>
            <textarea class="form-control" rows="5" readonly>[[${dto.description}]]</textarea>
        </div><br>
        <div class="form-group">
            <label >등록일</label>
            <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div><br>
        <div class="form-group">
            <label >수정일</label>
            <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <br>
        <br>

        <a th:href="@{/item/modify(itemNo = ${dto.itemNo})}">
        	<button type="button" class="btn btn-primary">상품정보 수정하기</button>
        </a>

        <!-- 목록페이지 링크 수정 -->
        <a th:href="@{/item/itemList(page=${page})}">
            <button type="button" class="btn btn-info">목록으로</button>
        </a><br><br>

    </th:block>

</th:block>
