<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">상품 상세 페이지</h1><br>



        <div class="row gx-3 gx-lg-4 align-items-center">
            <th:block th:if="${dto.image != null}">
                <div class="col-md-6">
                    <img th:src="@{'/test2/' + ${dto.image}}" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"
                        alt="..." />
                </div>
            </th:block>

            <div class="col-md-6">
                <div class="small mb-1">Category</div> <!--dto 의 카테고리가 생긴다면 여기에 넣기-->
                <h1 class="display-5 fw-bolder">[[${dto.itemName}]]</h1>
                <div class="fs-5 mb-5">

                    <label>가격 : </label>
                    <!--<span> : [[${dto.price}]] 원</span>-->
                    <span th:text="${#numbers.formatDecimal(dto.price, 0, 'COMMA', 0, 'POINT')} + ' 원'"></span>
                </div>                
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                        style="max-width: 3rem" />
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                        <div class="ms-2"></div> <!-- 여기서 간격 조절 -->
                        
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Buy Now
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="form-group">
            <label >상품이름</label>
            <input type="text" class="form-control" th:value="${dto.itemName}" readonly >
        </div><br>
        <div class="form-group">
            <label >가격</label>
            <input type="text" class="form-control" th:value="${dto.price}" readonly >
        </div><br>
        
        
        <div class="form-group">
            <label >상품 이미지</label>
        </div><br>
        <th:block th:if="${dto.image != null}">
    		<div class="form-group">
        		<img th:src="@{'/image/' + ${dto.image}}">
    		</div>
		</th:block><br>-->

        <!--<div class="form-group">
            <label >상품 이미지(수정하는것 잊지말기)</label>
            <textarea class="form-control" rows="5" readonly>[[${dto.image}]]</textarea>
        </div><br>-->

        <br><br>
        <div class="form-group">
            <label>상품 상세설명</label>
            <textarea class="form-control" rows="5" readonly>[[${dto.description}]]</textarea>
        </div><br>
        <div class="form-group">
            <label>등록일</label>
            <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}"
                readonly>
        </div><br>
        <div class="form-group">
            <label>수정일</label>
            <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}"
                readonly>
<!--        </div>
                <th:block th:if="${dto.image!=null}">  
            <div class="form-group">
            	<img th:src="@{'/test/'+${dto.image}}">
        	</div>
        </th:block>-->
        <br>
        <br>
        
    <th:block th:if="${dto.image!=null}">
		<div class="form-group">
			<img th:src="@{'/test2/' + ${dto.image}}">
			
		</div>
	</th:block>

        <a th:href="@{/item/modify(itemNo = ${dto.itemNo})}">
            <button type="button" class="btn btn-primary">상품정보 수정하기</button>
        </a>

        <!-- 목록페이지 링크 수정 -->
        <a th:href="@{/item/itemList(page=${page})}">
            <button type="button" class="btn btn-info">목록으로</button>
        </a><br><br>

    </th:block>

</th:block>