<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{layout/basic2 :: setContent(~{this::content} )}"> <!-- 템플릿 조각 전달 -->
	<th:block th:fragment="content"> <!-- 템플릿 만들기 -->
	
	<!--  공지번호  공지글  작성자  -->
	
		<h1>공지사항
		 	<span>
                <a th:href="@{/notice/register}">
                    <button type="button" class="btn btn-outline-primary" sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/notice/register}">공지 등록</button>
                </a>
            </span>
		</h1><br>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">공지번호</th>
					<th scope="col">제목</th>
					<th scope="col">작성자</th>
					<th scope="col">등록일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dto : ${list}">
					<!--<th scope="row">
						<a th:href="@{/notice/read(no = ${dto.no}, page= ${list.number + 1})}">
							[[${dto.no}]]
						</a>
					</th>
					<td>[[${dto.title}]]</td>-->
					<td>[[${dto.no}]]</td>
					<th scope="row">
						<a th:href="@{/notice/read(no = ${dto.no}, page= ${list.number + 1})}">
							[[${dto.title}]]
						</a>
					</th>					
					<td>관리자</td>
					<!--<td>[[${dto.title}]]</td>-->
					<td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
				</tr>

			</tbody>
		</table>

		<ul class="pagination h-100 justify-content-center align-items-center">

			<th:block th:each="page : ${#numbers.sequence(1, list.totalPages)}">
				<li th:class=" 'page-item ' + ${(list.number + 1) == page?'active':''} ">
					<a class="page-link" th:href="@{/notice/noticeList(page = ${page})}">
						[[${page}]]
					</a>
				</li>
			</th:block>

		</ul>

		 <script th:inline="javascript">
			$(document).ready(function(){
				var no = [[${no}]]
				if(no != null){
					alert(no + "번 공지가 등록되었습니다.");
					}
					});
		</script>
		
	</th:block>
</th:block>