<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic2 :: setContent(~{this::content} )}">
<th:block th:fragment="content">



<h1>장바구니</h1>


			<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">담은상품</th>
            <th width="350px" scope="col">수량</th>
            <th scope="col">현재수량</th>
            <th scope="col">금액</th>
            <th scope="col"></th> <!--삭제버튼 자리-->
        </tr>
    </thead>
        <tbody>
            <tr th:each="dto : ${list}">
                <td>
                    <a th:href="@{/item/read(itemNo = ${dto.itemNo})}">
                        [[${dto.itemName}]]
                    </a>
                </td>
                <td>
                    
					<div style="display: flex; align-items: center;">
    					<input class="form-control text-center me-1 inputQuantity" th:id="inputQuantity + ${dto.no}" type="number" style="width: 5rem; min-width: 3.5rem; margin-right: 10px;" min="1">
    					<button type="button" class="btn btn-outline-primary modifyBtn" th:onclick="modifyQuantity([[${dto.no}]])" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">수량 수정하기</button>
					</div>


                </td>
                <td>
                    <span>[[${dto.count}]]</span>
                </td>
                <td>
                    <span>[[${dto.price}]]</span>
                </td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
                <td>					
	                 <button type="button" class="btn btn-danger" th:onclick="deleteBtn([[${dto.no}]])" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" >상품 삭제</button>
	            </td>
            </tr>
        </tbody>
    </table><br>

    <div style="text-align: center;">
        <button type="button" class="btn orderBtn"
                th:onclick="redirectToOrdersRegister()"
                sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">주문하기</button>
    </div>

    
    <script th:inline="javascript">

        function redirectToOrdersRegister(){
            window.location.href = '/orders/register';
        }
		
	function deleteBtn(no) {
		
     		   if (confirm("상품을 삭제하시겠습니까?")) {
            		confirmDelete(no);
        		}
  	 		 }	
		
		
    function confirmDelete(no) {
                                
            $.ajax({
                type: "GET",
                url: "/cart/remove?no=" + no,
                success: function (response) {
					 	alert("상품이 삭제되었습니다.");
                        location.reload();
                	}
            });  
    	}
    	
    	
    function modifyQuantity(no){
		
		var id = 'inputQuantity' + no;		
		var newQuantity = document.getElementById(id).value;
        var dto = {
        no: no,
        count: newQuantity
        }
		
			$.ajax({
                type: "POST",
                url: "/cart/modify", 
                data:dto,
                success: function (response) {
					 	alert("수량이 " + newQuantity +"개로 수정되었습니다.");
					 	location.reload();                        
                	}
            });  
		
	}
        
	</script>      
    
	</th:block>
	
</th:block>

