<!doctype html>
<html class="no-js" lang="en">
<style>
    .product-item img.img-responsive {
        width: 262.5px;
        height: 322px;
    }
</style>
<th:block th:replace="~{layout/basic2 :: setContent(~{this::content} )}"> <!-- 템플릿 조각 전달 -->
	<th:block th:fragment="content">

        <!-- 슬라이더 섹션 -->
        <section class="slider-section">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicator 생성 -->
                <ol class="carousel-indicators slider-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Slide 내부 콘텐츠 -->
                <!-- 슬라이드별 이미지, 설명 추가하고 링크 설정해야함 -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="images/slider.jpg" width="1648" height="600" alt="">
                        <div class="carousel-caption">
                            <h2>Slide <b>&</b> No.1</h2>
                            <h3>FROM OURFAMOUS BRANDS <Span>SALE</Span></h3>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/slider.jpg" width="1648" height="600" alt="">
                        <div class="carousel-caption">
                            <h2>Slide <b>&</b> No.2</h2>
                            <h3>FROM OURFAMOUS BRANDS <Span>SALE</Span></h3>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                    <div class="item ">
                        <img src="images/slider.jpg" width="1648" height="600" alt="">
                        <div class="carousel-caption">
                            <h2>Slide <b>&</b> No.3</h2>
                            <h3>FROM OURFAMOUS BRANDS <Span>SALE</Span></h3>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>

                <!-- 슬라이드 양쪽 화살표(슬라이드 컨트롤) -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="pe-7s-angle-left glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="pe-7s-angle-right glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
        </section>


        <!-- new collection 슬라이드에 등록한 상품들 포함해서 4개 넣고 수정해야함 -->
        <section class="new-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titie-section wow fadeInDown animated ">
                            <h1>NEW COLLECTION</h1>
                        </div>
                    </div>
                </div>
                <!-- 상품 4개 설정 -->
                <div class="row">
					<th:block th:each="item : ${itemDescList}">
                    <div class="col-md-3 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.2s">
                        <div class="product-item">
                            <img th:src="@{'/aa/' + ${item.image}}" class="img-responsive" width="255" height="322" alt="">
                            <div class="product-hover">
                                <div class="product-meta">
                                    <a th:href="@{/item/read(itemNo = ${item.itemNo})}"><i class="pe-7s-cart"></i>Buy Now</a>
                                </div>
                            </div>
                            <div class="product-title">
                                <a th:href="@{/item/read(itemNo = ${item.itemNo})}">
                                    <h3>[[${item.itemName}]]</h3>
                                    <span>[[${item.price}]]</span>
                                </a>
                            </div>
                        </div>
                    </div>
					</th:block>
                </div>
            </div>
        </section>
        
        <!-- 상품 섹션 -->
        <section class="featured-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titie-section wow fadeInDown animated ">
                            <h1>PRODUCTS</h1>
                        </div>
                    </div>
                </div>

                <!-- 상품 필드 4개만 보여주고 아레에 More Products 버튼 넣어야함-->
                <div class="row featured isotope">

                    <th:block th:each="item : ${itemAscList}">
                    <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item">
                        <div class="product-item">
                            <img th:src="@{'/aa/' + ${item.image}}" class="img-responsive" width="255" height="322" alt="">
                            <div class="product-hover">
                                <div class="product-meta">
                                    <a th:href="@{/item/read(itemNo = ${item.itemNo})}"><i class="pe-7s-cart"></i>Buy Now</a>
                                </div>
                            </div>
                            <div class="product-title">
                                <a th:href="@{/item/read(itemNo = ${item.itemNo})}">
                                    <h3>[[${item.itemName}]]</h3>
                                    <span>[[${item.price}]]</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    </th:block>
                </div>
            </div>


            
        </section>
        
    </th:block>
</th:block>
</html>